<ion-tabs color="_purple">
  <ion-tab [root]="tab1Root" tabTitle="Clientes" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="QR" tabIcon="qr-scanner"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Acerca de" tabIcon="information-circle"></ion-tab>
</ion-tabs>
