<ion-header>
  <ion-navbar color="_purple">
    <ion-title>Perfil</ion-title>
    <ion-buttons>
      <button ion-button="" (click)="cancel()">Cancelar</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button="" (click)="saveCustomer()" [disabled]="!isDataValid">Guardar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input
      type="text"
      placeholder="Nombre"
      [(ngModel)]="customer.fullName"
      (ionChange)="onChangeInputs()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      type="number"
      placeholder="NIT/CI"
      [(ngModel)]="customer.nit"
      (ionChange)="onChangeInputs()"></ion-input>
  </ion-item>
</ion-content>
