<ion-header>
  <ion-navbar>
    <ion-title>
      QR
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-fab top right edge>
    <button
      ion-fab
      icon-only
      color="_secondary"
      (click)="sendViaMailInvoices()">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ion-item>
      <p>Cliente:</p>
      <ion-note item-end>{{customer.fullName}}</ion-note>
    </ion-item>
    <ion-item>
      <p>NIT/CI:</p>
      <ion-note item-end>{{customer.nit}}</ion-note>
    </ion-item>
    <ion-item>
      <p>Capturas:</p>
      <ion-note item-end>{{captures}}</ion-note>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-datetime displayFormat="MMMM" [(ngModel)]="date" (ionChange)="monthChanges()"></ion-datetime>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-card>
    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="invoice.businessName"
        placeholder="Razon social (Opcional)...">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Tipo Comp.</p>
      </ion-label>
      <ion-select [(ngModel)]="invoice.compType" interface="popover">
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-buttons>
    <button
      ion-button
      full
      clear
      color="danger"
      icon-left
      (click)="scanCodeAndSaveInvoice()" icon-only="">
      <ion-icon name="qr-scanner"></ion-icon>
    </button>
  </ion-buttons>

  <ion-card *ngIf="scannedCode && invoice.date">
    <ion-item>
      <p>Fecha:</p>
      <ion-note item-end>{{invoice.date}}</ion-note>
    </ion-item>

    <ion-item>
      <p>NIT Prov.:</p>
      <ion-note item-end>{{invoice.nit}}</ion-note>
    </ion-item>

    <ion-item>
      <p>No. Factura:</p>
      <ion-note item-end>{{invoice.invoiceNumber}}</ion-note>
    </ion-item>

    <ion-item>
      <p>No. Poliza (DUI):</p>
      <ion-note item-end>{{invoice.policyNumber}}</ion-note>
    </ion-item>

    <ion-item>
      <p>No. Aut:</p>
      <ion-note item-end>{{invoice.authNumber}}</ion-note>
    </ion-item>

    <ion-item>
      <p>Total Factura:</p>
      <ion-note item-end>{{invoice.totalBill}}</ion-note>
    </ion-item>

    <ion-item>
      <p>Excento ICE,IEHD:</p>
      <ion-note item-end>{{invoice.exempt}}</ion-note>
    </ion-item>

    <ion-item>
      <p>Subtotal Fact.:</p>
      <ion-note item-end>{{invoice.subTotalBill}}</ion-note>
    </ion-item>

    <ion-item>
      <p>Desc. BONIF, REB. OTROG.:</p>
      <ion-note item-end>{{invoice.discount}}</ion-note>
    </ion-item>

    <ion-item>
      <p>Imp. Base:</p>
      <ion-note item-end>{{invoice.baseImp}}</ion-note>
    </ion-item>

    <ion-item>
      <p>C.F (13%):</p>
      <ion-note item-end>{{invoice.cf}}</ion-note>
    </ion-item>

    <ion-item>
      <p>C&oacute;d. Control:</p>
      <ion-note item-end>{{invoice.controlCode}}</ion-note>
    </ion-item>
  </ion-card>
</ion-content>
