<ion-header>
  <ion-navbar>
    <ion-title>
      Perfiles
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab right bottom>
    <button
      ion-fab
      icon-only
      color="_secondary"
      (click)="addCustomerModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ion-item-sliding *ngFor="let customer of customers; let i = index" (click)="onSelectCustomerAndUpdate(i)"
                      #slidingItem>
      <ion-item>
        <ion-label>
          <h2>{{customer.fullName}}</h2>
          <p>NIT: {{customer.nit}}</p>
        </ion-label>
        <ion-toggle
          disabled
          [checked]="customers[i].selected"
          color="secondary">
        </ion-toggle>
      </ion-item>
      <ion-item-options side="left">
        <button
          ion-button
          color="positive"
          (click)="editCustomer(customer, slidingItem)"
          icon-only>
          <ion-icon name="create"></ion-icon>
        </button>
        <button
          ion-button
          color="danger"
          (click)="removeCustomer(customer, slidingItem)"
          icon-only>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
