<ion-header>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Acerca de...
      </ion-card-title>
      <p>
        <b>QR Conta</b> es una alternativa a la aplicaci&oacute;n <i>QRquincho</i>
      </p>
      <p>
        Esta aplicaci&oacute;n cuenta con una interfaz mas simplificada y nuevas caracter&iacute;sticas,
        el formato de las facturas esta optimizado para que sea mucho mas simple.
      </p>
    </ion-card-content>
    <ion-item>
      <ion-icon color="_purple" name='pricetag' item-start></ion-icon>
      Version
      <ion-badge color="_purple" item-right>{{appVersionNumber}}</ion-badge>
    </ion-item>

    <ion-item>
      Enviar mail
      <ion-icon name='send' color="_purple" item-start (click)="sendMail()"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
